@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo 2', cursive;
}

/*----Navbar Row 1----*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.navbar .logo{
    margin-top: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color:#555;
}
nav a:hover{
    color:#111;
}
a{
    text-decoration: none;
}
p{
    color: #555;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*----NavBar Adaptation----*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: 0.7s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*----Row 2----*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px auto auto 30px;
}
.col-2 h2{
    font-size: 50px;
    margin-left: 20px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0 40px 10px;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #da3f2a;
}
.header{
    background: white;
}
.header .row{
    margin-top: 70px;
}
#title-main{
    line-height: 47px;
    font-size: 52px;
    margin-left: 10px;
    padding-top: 20px;
}

/*----Row 3 Categories----*/
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    cursor: pointer;
}
.col-3 img{
    width: 105%;
}
#initial,
#intermediate,
#advanced{
    filter: grayscale(100%);
    transition: transform 0.5s;
}
#initial:hover,
#intermediate:hover,
#advanced:hover{
    filter: none;
    transform: translateY(-12px);
    zoom: 50%;
}
.titleCat{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.titleCat:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-37px) ;
}

/*----Row 4----*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    font-size: 14px;
    transition: transform 0.5s;
    cursor: pointer;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px) ;
}
h4{
    color: #555;
    font-weight: normal;
}
.rating i{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*----Exclusive----*/
.sale{
    background: linear-gradient(270deg, rgba(0,0,0,0.13577586206896552) 0%, rgba(255,255,255,0.7370689655172413) 35%);
    margin-top: 20px;
    padding: 20px 0;
}
.col-2 .sale-img{
    padding: 50px;
}
small{
    color: #555;
}

/*----Testimonials----*/

.testimonial{
padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
    
}
.testimonial .col-3 .user-img{
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}
.cita-img{
    max-width: 24px;
    opacity: 60%;
}
.col-3 p{
    color: #777;
    font-size: 12px;
    margin: 12px 0;
}
.testimonial .col-3 h3{
    font-weight: 600;
    font-size: 16px;
    color: #555;
}

/*----Brands col 5----*/
.brands{
    margin: 100px auto;
}

.brands .row{
    display: flex;
    justify-content:space-around ;
}
.col-5{
    flex-basis: 26%;
    padding: 10px;
    min-width: 160px;
    margin-bottom: 50px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/*----Footer----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4{
    min-width: 210px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    margin-left: 33px;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer ul{
    list-style-type: none;
}
.footer-col-4 a{
    color: #8a8a8a;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 120px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copy{
    text-align: center;
}

/*----All products page----*/
.row-2{
    justify-content: space-between;
    margin: 60px auto 30px;
}
.btn-category{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 10px;
}
.btn-category input{
    margin: 10px 10px;
}
.btn-category label{
    margin: 10px 0;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
#basic:checked ~ .advanced, #basic:checked ~ .intermediate{
    display: none;
}
#intermediate:checked ~ .basic, #intermediate:checked ~ .advanced{
    display: none;
}
#advanced:checked ~ .basic, #advanced:checked ~ .intermediate{
    display: none;
}


/*-----Pruduct Details page----*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24;
    cursor: pointer;
}

/*-----About------*/
.title-about{
color: #ff523b;
margin-left: 0;
}
/*------Cart  Items---------*/

.cart-page{
margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 40px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    margin-right: 10px;
}


/*----Adapter 600px----*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .footer-col-2{
        margin-left: 0;
    }
    .sale{
        background: white;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    #title-main{
        line-height: 45px;
        font-size: 40px;
    }
}